@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --clr-alpha-white: 0 0% 100%;
  --clr-alpha-black: 0 0% 0%;
  --txt-clr-50: hsl(198, 77%, 95%);
  --txt-clr-100: hsl(200, 80%, 90%);
  --txt-clr-200: hsl(200, 80%, 80%);
  --txt-clr-300: hsl(200, 80%, 70%);
  --txt-clr-400: hsl(200, 80%, 60%);
  --txt-clr-500: hsl(200, 80%, 50%);
  --txt-clr-600: hsl(200, 80%, 40%);
  --txt-clr-700: hsl(200, 80%, 30%);
  --txt-clr-800: hsl(200, 80%, 20%);
  --txt-clr-900: hsl(200, 80%, 10%);
  --txt-clr-950: hsl(201, 77%, 5%);
  --bg-clr-50: hsl(201, 77%, 95%);
  --bg-clr-100: hsl(203, 80%, 90%);
  --bg-clr-200: hsl(203, 80%, 80%);
  --bg-clr-300: hsl(203, 80%, 70%);
  --bg-clr-400: hsl(203, 80%, 60%);
  --bg-clr-500: hsl(203, 80%, 50%);
  --bg-clr-600: hsl(203, 80%, 40%);
  --bg-clr-700: hsl(203, 80%, 30%);
  --bg-clr-800: hsl(203, 80%, 20%);
  --bg-clr-900: hsl(203, 80%, 10%);
  --bg-clr-950: hsl(204, 77%, 5%);
  --primary-clr-50: hsl(201, 54%, 95%);
  --primary-clr-100: hsl(202, 53%, 90%);
  --primary-clr-200: hsl(202, 53%, 80%);
  --primary-clr-300: hsl(202, 53%, 70%);
  --primary-clr-400: hsl(202, 53%, 60%);
  --primary-clr-500: hsl(202, 53%, 50%);
  --primary-clr-600: hsl(202, 53%, 40%);
  --primary-clr-700: hsl(202, 53%, 30%);
  --primary-clr-800: hsl(202, 53%, 20%);
  --primary-clr-900: hsl(202, 53%, 10%);
  --primary-clr-950: hsl(201, 54%, 5%);
  --secondary-clr-50: hsl(12, 77%, 95%);
  --secondary-clr-100: hsl(13, 80%, 90%);
  --secondary-clr-200: hsl(13, 80%, 80%);
  --secondary-clr-300: hsl(13, 80%, 70%);
  --secondary-clr-400: hsl(13, 80%, 60%);
  --secondary-clr-500: hsl(13, 80%, 50%);
  --secondary-clr-600: hsl(13, 80%, 40%);
  --secondary-clr-700: hsl(13, 80%, 30%);
  --secondary-clr-800: hsl(13, 80%, 20%);
  --secondary-clr-900: hsl(13, 80%, 10%);
  --secondary-clr-950: hsl(12, 77%, 5%);
  --contrast-clr-50: hsl(38, 100%, 95%);
  --contrast-clr-100: hsl(39, 96%, 90%);
  --contrast-clr-200: hsl(39, 98%, 80%);
  --contrast-clr-300: hsl(39, 97%, 70%);
  --contrast-clr-400: hsl(39, 98%, 60%);
  --contrast-clr-500: hsl(39, 98%, 50%);
  --contrast-clr-600: hsl(39, 98%, 40%);
  --contrast-clr-700: hsl(39, 97%, 30%);
  --contrast-clr-800: hsl(39, 98%, 20%);
  --contrast-clr-900: hsl(39, 96%, 10%);
  --contrast-clr-950: hsl(38, 100%, 5%);
  --txt-clr: hsla(200, 80%, 6%, 0.95);
  --bg-clr: hsl(203, 80%, 96%);
  --primary-clr: hsl(202, 53%, 53%);
  --secondary-clr: hsl(13, 80%, 73%);
  --contrast-clr: hsl(39, 98%, 62%);
  --mono-clr: hsla(0, 0%, 50%);
  --error-clr: hsl(0, 68%, 47%);
  --success-clr: hsl(120, 68%, 47%);
  --linear-gradient-primary: linear-gradient(
      var(--primary-clr-600),
      var(--primary-clr-500)
  );
  --radial-gradient-primary: radial-gradient(
      var(--primary-clr-600),
      var(--primary-clr-500)
  );
  --linear-gradient-contrast: linear-gradient(
      var(--contrast-clr-600),
      var(--contrast-clr-500)
  );
  --radial-gradient-contrast: radial-gradient(
      var(--contrast-clr-600),
      var(--contrast-clr-500)
  );
  --linear-gradient-dark: linear-gradient(
      var(--txt-clr-950),
      var(--primary-clr-950)
  );
  --radial-gradient-glow: radial-gradient(
      hsla(var(--clr-alpha-white) / 1) hsla(var(--clr-alpha-white) / 0)
  );
  color-scheme: light;
}

footer .Container, footer .Container nav[aria-label="secondary Navigation"] a, footer .Container nav[aria-label="social media links"] ul, main.menu .Container ul li .food-card-item, main.menu .Container ul li .food-card-item .info, main.menu .Container ul li .food-card-item .info .labels, main.menu .Container ul li .food-card-item .info .row, main.menu .Container ul li .food-card-item .action .item-count, .header__container, .header__nav-list, .avatar-group ul, .avatar-group ul li {
  display: flex;
}

footer .Container, footer .Container nav[aria-label="secondary Navigation"] a, footer .Container nav[aria-label="social media links"] ul, main.menu .Container ul li .food-card-item .info .labels, main.menu .Container ul li .food-card-item .info .row, main.menu .Container ul li .food-card-item .action .item-count, .header__container, .header__nav-list, .avatar-group ul, .avatar-group ul li {
  flex-direction: row;
}

main.menu .Container ul li .food-card-item, main.menu .Container ul li .food-card-item .info {
  flex-direction: column;
}

.avatar-group ul, .avatar-group ul li {
  justify-content: center;
}

footer .Container nav[aria-label="secondary Navigation"] a, footer .Container nav[aria-label="social media links"] ul, main.menu .Container ul li .food-card-item, main.menu .Container ul li .food-card-item .info, main.menu .Container ul li .food-card-item .info .labels {
  justify-content: flex-start;
}

.header__nav-list {
  justify-content: flex-end;
}

footer .Container, main.menu .Container ul li .food-card-item .info .row, main.menu .Container ul li .food-card-item .action .item-count, .header__container {
  justify-content: space-between;
}

footer .Container nav[aria-label="secondary Navigation"] a, footer .Container nav[aria-label="social media links"] ul, main.menu .Container ul li .food-card-item, main.menu .Container ul li .food-card-item .info .row, main.menu .Container ul li .food-card-item .action .item-count, .header__container, .header__nav-list, .avatar-group ul, .avatar-group ul li {
  align-items: center;
}

footer .Container, main.menu .Container ul li .food-card-item .info, main.menu .Container ul li .food-card-item .info .labels {
  align-items: flex-start;
}

:root {
  --ff-serif: "Inter", sans-serif;
  --fs-s: 0.875rem; /* 14px */
  --fs-m: 1rem; /* 16px */
  --fs-l: 1.25rem; /* 20px */
  --fs-xl: 2.1875rem; /* 35px */
  --fs-3xl: clamp(2.5rem, 7vw, 7rem);
  --fw-l: 400;
  --fw-m: 500;
  --fw-b: 700;
}

body {
  font-family: var(--ff-serif);
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.7;
  color: var(--txt-clr);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -1px;
  line-height: 1.2;
}

h1,
.h1,
h2,
.h2 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-b);
}

h3,
.h3 {
  font-size: var(--fs-l);
  font-weight: var(--fw-b);
}

p,
.p {
  font-size: var(--fs-m);
  font-weight: var(--fw-l);
}

a {
  font-size: var(--fs-s);
  font-weight: var(--fw-l);
  text-decoration: none;
}

.link {
  text-decoration: underline !important;
  color: var(--accent-clr) !important;
}

:root {
  --container-width: 90%;
  --Header-hight: 5rem;
  --radius: 0.9375em;
  --shadow: 0 6px 30px rgba(0, 0, 0, 10%);
  --margin: min(12em, 12vh);
  --gap: 1rem;
  --icon-size: 1rem;
  --icon-clr: var(--txt-clr);
  --animation: ease-in-out;
  --time-fast: 0.2s;
  --time-slow: 0.4s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:before,
:after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html,
html:focus-within {
  scroll-behavior: smooth;
  text-size-adjust: none;
  font-size: 100%;
  cursor: default;
  overflow-wrap: anywhere;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  scroll-padding: var(--Header-hight);
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  overscroll-behavior: contain;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: clip;
  background-color: var(--bg-clr);
}

.Container {
  height: 100%;
  width: var(--container-width, 90%);
  margin-inline: auto;
}

li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a,
ul a {
  text-decoration: none;
}

::-moz-focus-inner {
  border: none;
}

:focus {
  outline: none;
}

.focus {
  --focus-ring-clr: var(--accent-clr, hsla(0, 0%, 50%, 0.5));
  box-shadow: var(--focus-shadow, 0 0 0 transparent), 0 0 0 -0.6em var(--bg-clr), 0 0 0 -0.8em var(--focus-ring-clr);
  transition: box-shadow var(--time-fast) var(--animation);
}

.focus:focus-visible {
  outline: 2px solid transparent;
  box-shadow: var(--focus-shadow, 0 0 0 transparent), 0 0 0 0.25em var(--bg-clr), 0 0 0 0.45em var(--focus-ring-clr);
}

:disabled,
.disabled {
  --focus-ring-clr: hsla(0, 0%, 50%, 0.5);
  filter: grayscale(80%);
  opacity: 0.8;
  cursor: not-allowed !important;
}

input,
textarea,
a,
select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  font-weight: var(--fw-b);
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-shadow: none;
  pointer-events: none;
  isolation: isolate;
}

.button {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 100%;
  display: inline-flex;
  flex: 0 1 auto;
  gap: calc(var(--gap) / 2);
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  padding: max(0.85em, 0.85rem) max(2em, 2rem);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: var(--fw-m);
  font-size: var(--fs-s);
  line-height: 1;
  letter-spacing: 0.03125rem;
  outline: none;
  border: none;
  border-radius: var(--radius);
  background-color: var(--accent-clr, hsla(0, 0%, 100%, 0));
  color: var(--btn-txt-clr, hsl(220, 13%, 5%));
  transition: all var(--time-fast) var(--animation);
  --focus-shadow: var(--shadow);
}

.button.icon-only {
  width: -moz-fit-content;
  width: fit-content;
  padding: max(0.85em, 0.85rem);
  box-shadow: none;
  margin: 0;
}

.btn-primary {
  background: var(--radial-gradient-primary);
  --accent-clr: var(--primary-clr-600);
  --btn-txt-clr: var(--bg-clr);
}

.btn-contrast {
  background: var(--radial-gradient-contrast);
  --accent-clr: var(--contrast-clr-600);
  --btn-txt-clr: var(--bg-clr);
}

.btn-mono {
  background: var(--linear-gradient-dark);
  --accent-clr: var(--txt-clr);
  --btn-txt-clr: var(--bg-clr);
}

.button :where(img, svg) {
  width: 1.2em;
  height: 1.2em;
}

.button:active {
  transform: scale(0.95);
}

:where(.button:not(:last-of-type)) {
  margin-right: var(--gap);
  margin-top: 0;
}

.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--contrast-clr-100);
  padding: 0.4em 0.8em;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  color: var(--txt-clr);
  cursor: pointer;
  transition: transform var(--time-fast) var(--animation);
}

.chip:hover {
  transform: translateY(-2px);
}

.chip span {
  font-size: var(--fs-s);
  line-height: 1;
  letter-spacing: 0.03125rem;
}

.avatar-group {
  --avatar-size: 0.7em;
  display: inline-flex;
  transform: rotate(2deg);
}
.avatar-group ul {
  margin-inline: 0.15em;
}
.avatar-group ul li {
  background-color: var(--contrast-clr-100);
  border-radius: 50%;
  overflow: hidden;
  height: var(--avatar-size);
  width: var(--avatar-size);
  margin-left: -0.15em;
  margin-right: -0.15em;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.12);
  isolation: isolate;
  transform: rotate(5deg);
  transition: transform var(--time-fast) var(--animation);
}
.avatar-group ul li img {
  height: 70%;
  filter: grayscale(20%);
}

/* Enable hover only on non-touch devices */
.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.main-logo {
  display: block;
  color: var(--txt-clr);
  font-size: var(--fs-l);
  font-weight: var(--fw-b);
  line-height: 1;
  white-space: nowrap;
}

.header {
  height: var(--Header-hight);
  width: 100%;
  padding: 0.1rem 0;
  background-color: var(--bg-clr);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  isolation: isolate;
}
.header__container {
  gap: 1rem;
}
.header__toggle-button {
  display: none;
}
.header__nav-list {
  gap: calc(var(--gap) * 1.5);
}
.header__nav-link {
  white-space: nowrap;
  color: var(--txt-clr);
  font-size: var(--fs-s);
  font-weight: var(--fw-l);
}

:root {
  --group-gap: 24px;
  --element-gap: 6px;
}

main.menu {
  width: 100%;
  padding-top: var(--Header-hight);
  margin: var(--margin) 0;
}
main.menu .Container {
  text-align: center;
}
main.menu .Container h1 {
  font-size: var(--fs-3xl);
  margin-bottom: calc(var(--margin) / 2);
}
main.menu .Container ul {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  grid-gap: var(--group-gap);
  margin-inline: auto;
  margin-bottom: calc(var(--margin) * 2);
}
main.menu .Container ul li {
  width: 100%;
  box-shadow: var(--shadow);
}
main.menu .Container ul li .food-card-item {
  width: 100%;
  position: relative;
  padding: var(--gap);
  border-radius: var(--radius);
  background-color: hsl(0, 0%, 100%);
}
main.menu .Container ul li .food-card-item .image-wrapper {
  width: 100%;
  aspect-ratio: 16/10;
  position: relative;
  overflow: hidden;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
main.menu .Container ul li .food-card-item .image-wrapper .placeholder,
main.menu .Container ul li .food-card-item .image-wrapper img,
main.menu .Container ul li .food-card-item .image-wrapper span {
  position: absolute;
  transition: all var(--time-fast) var(--animation);
}
main.menu .Container ul li .food-card-item .image-wrapper .placeholder,
main.menu .Container ul li .food-card-item .image-wrapper img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: var(--radius);
}
main.menu .Container ul li .food-card-item .image-wrapper .placeholder {
  z-index: 1;
  background-color: var(--mono-clr);
  opacity: 0.8;
}
main.menu .Container ul li .food-card-item .image-wrapper img {
  z-index: 2;
}
main.menu .Container ul li .food-card-item .image-wrapper span {
  top: 20%;
  left: calc(var(--gap) / -2);
  z-index: 3;
  font-size: var(--fs-s);
  font-weight: var(--fw-m);
  padding: 4px var(--gap) 4px;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  box-shadow: var(--shadow);
  background: var(--linear-gradient-contrast);
}
main.menu .Container ul li .food-card-item .image-wrapper span:hover {
  transform: translateX(calc(var(--gap) / 2));
}
main.menu .Container ul li .food-card-item .image-wrapper:hover img {
  transform: scale(1.05);
}
main.menu .Container ul li .food-card-item .info {
  width: 100%;
  text-align: start;
  gap: var(--element-gap);
  margin-top: var(--group-gap);
  text-transform: capitalize;
}
main.menu .Container ul li .food-card-item .info .labels {
  flex-wrap: wrap;
  margin-block: var(--group-gap);
  gap: calc(var(--element-gap) / 1.5);
}
main.menu .Container ul li .food-card-item .info .row {
  width: 100%;
  padding: 0 calc(var(--gap) / 2);
  gap: var(--gap);
}
main.menu .Container ul li .food-card-item .info .row .price {
  color: var(--success-clr);
  font-size: var(--fs-m);
  font-weight: var(--fw-b);
  opacity: 0.8;
}
main.menu .Container ul li .food-card-item .info .row .calories {
  font-size: var(--fs-m);
}
main.menu .Container ul li .food-card-item .action {
  width: 100%;
  margin-block: var(--element-gap);
}
main.menu .Container ul li .food-card-item .action .item-count {
  gap: var(--gap);
}
main.menu .Container ul li .food-card-item .action .item-count span {
  display: block;
  font-size: var(--fs-m);
  font-weight: var(--fw-b);
}
footer {
  width: 100%;
}
footer .Container {
  gap: calc(var(--gap) * 2);
  padding: 2.5rem 0;
}
footer .Container .footer__title {
  text-transform: capitalize;
  margin-bottom: calc(var(--gap) / 2);
  font-size: var(--fs-m);
  font-weight: var(--fw-m);
}
footer .Container nav[aria-label="secondary Navigation"] a {
  gap: calc(var(--gap) / 2);
  text-transform: capitalize;
  color: var(--txt-clr);
}
footer .Container nav[aria-label="secondary Navigation"] a img {
  height: 0.5em;
}
footer .Container nav[aria-label="social media links"] ul {
  gap: calc(var(--gap) / 2);
}
footer .Container nav[aria-label="social media links"] ul li {
  transition: transform var(--time-fast) var(--animation);
}
footer .Container nav[aria-label="social media links"] ul li a img {
  width: 2rem;
  opacity: 0.8;
  box-shadow: var(--shadow);
}
footer .Container > * {
  max-width: 25%;
}

@media screen and (min-width: 100em) {
  .Container {
    --container-width: calc(1600px - 6rem);
  }
}
@media screen and (max-width: 100em) {
  .Container {
    --container-width: 90%;
  }
}
@media screen and (max-width: 64em) {
  .Container {
    --container-width: calc(100% - 4rem);
  }
}
/* Tablet and Smaller Desktop */
@media screen and (max-width: 48em) {
  .Container {
    --container-width: calc(100% - 2rem);
  }
  .header__toggle-button {
    display: inline-flex;
  }
  .header__nav {
    height: auto;
    width: 100%;
    display: block;
    position: absolute;
    isolation: isolate;
    left: 0;
    top: var(--Header-hight);
    z-index: 101;
    background-color: var(--bg-clr);
    padding: calc(var(--Header-hight) / 2) 1rem;
    box-shadow: var(--shadow);
    transform: translateY(-125%);
  }
  .header__nav--opened {
    display: block;
    animation: slideIn var(--time-slow) var(--animation) forwards;
  }
  .header__nav--closing {
    animation: slideOut var(--time-slow) var(--animation) forwards;
  }
  .header__nav--closed {
    display: none;
  }
  @keyframes slideIn {
    from {
      transform: translateY(-125%);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes slideOut {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-125%);
    }
  }
  .header__nav-list {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 2rem;
  }
  .header__nav-item--button {
    width: 100%;
  }
  footer .Container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: flex-start !important;
  }
  footer .Container > * {
    max-width: 100%;
  }
  body {
    text-wrap: balance;
  }
  .button {
    width: 100% !important;
  }
  .button:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: var(--gap);
  }
  br {
    display: none;
  }
}
/*For tablets */
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .header__nav-link:hover {
    text-decoration: underline;
    opacity: 0.9;
  }
  .button:hover {
    opacity: 0.9;
  }
  .avatar-group ul li:hover {
    transform: translateY(-15%);
  }
  .services .Container ul li:hover img {
    transform: scale(1.15);
  }
  .social-links li:hover {
    transform: rotate(10deg) scale(1.1);
  }
}
@supports not (overflow-x: clip) {
  html,
  body {
    overflow-x: hidden;
  }
}
@supports not ((width: -moz-fit-content) or (width: fit-content)) {
  .button {
    width: -moz-max-content;
    width: max-content;
    height: -moz-max-content;
    height: max-content;
  }
}
@supports not (font-size: clamp(2.5rem, 7vw, 7rem)) {
  :root {
    --fs-3xl: 7vw;
  }
  @media screen and (min-width: 100em) {
    :root {
      --fs-3xl: 7rem;
    }
  }
  @media screen and (max-width: 26.5625em) {
    :root {
      --fs-3xl: 2.5rem;
    }
  }
}
/* For people who have motion sickness. */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}/*# sourceMappingURL=index.css.map */